@use '../settings/font-sizes.scss' as fz;
@use '../tools/responsive.scss';
@use '../settings/spacing.scss';
@use '../tools/mixins.scss';
@use '../base/setup.scss';
@use '../settings/colors.scss';

.breadcrumbs {
    &__item {
        font-size: fz.$size-xs;

        &:not(:last-child) {
            &:after {
                content: '/';
                margin: 0 10px;
                color: colors.$grey-dark;
            }
        }
    }

    &__target-page {
        color: colors.$grey-dark;
    }
}