.contact-information {
    &--light {
        .contact-information__title {
            color: var(--text-color-light);
        }
        .contact-information__description {
            color: var(--text-color-light);
            opacity: 0.6;   
        }
    }

    &--dark {
        .contact-information__title {}
        .contact-information__description {
            color: var(--text-title-color);
        }
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }

    &__title {
        color: var(--text-color-secondary);
    }

    &__description {
        font-style: normal;
        display: inline-block;

        &[href] {
            &:hover {
                color: var(--primary-color);
                opacity: 1;
            }
        }
    }

    a {
        &:hover {
            color: var(--primary-color);
        }
    }
}