@use '../settings/font-sizes.scss' as fz;

.list {
    &--with-icon {
        .list__item {
            padding-left: 34px;
        }
    }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 22px;
        }
    }

    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        font-size: fz.$size-l;
        color: var(--primary-color);
    }
}