@use '../settings/font-sizes.scss' as fz;
@use '../tools/responsive.scss';
@use '../settings/spacing.scss';
@use '../tools/mixins.scss';

.project-categories {
    position: relative;

    .row {
        .col {
            @include responsive.mq($from: tablet_large) {
                max-width: 20%;
                flex: 0 0 20%;
            }
        }
    }

    .project-category {
        max-width: 100%;
    }
}

.project-category {
    position: relative;
    max-width: 230px;
    width: 100%;
    height: 154px;
    
    margin-bottom: 32px;
    cursor: pointer;
    @include mixins.flexCentered();
	@include mixins.animate(background-color);

    @include responsive.mq($from: tablet) {
        padding: spacing.$l;
    }
    
    &.active {
        pointer-events: none;
    }

    &.active,
    &:hover {
        background-color: var(--primary-color);

        .project-category__title {
            color: var(--text-color-light);
        }

        .project-category__logo-primary {
            opacity: 0;
        }

        .project-category__logo-secondary {
            opacity: 1;
        }
    }

    &__image {
        @include mixins.absoluteCover();
        opacity: 0;
        @include mixins.animate(opacity);

        img {
            @include mixins.coverImage();
        }
    }

    &__logo-wrapper {
        position: relative;
        margin-bottom: 18px;

        @include responsive.mq($until: tablet) {
            width: 40%;
        }
    }

    &__logo {
        width: 100%;
        @include mixins.animate(opacity);

        img {
            margin: 0 auto;
        }
    }

    &__logo-secondary {
        @include mixins.centeredAbsolute();
        opacity: 0;
    }

    &__title {
        @include mixins.animate(color);
        margin-bottom: 0;
        @include mixins.animate(color);

        @include responsive.mq($until: tablet) {
            font-size: fz.$size-xs;
        }
    }
}