@use '../settings/font-sizes.scss' as fz;
@use '../tools/responsive.scss';
@use '../settings/spacing.scss';
@use '../tools/mixins.scss';
@use '../base/setup.scss';

.service-card {
    position: relative;
    max-width: 285px;
    width: 100%;
    height: 285px;
    box-shadow: setup.$base-shadow;
    border-radius: setup.$border-radius-sm;
    overflow: hidden;

    &:hover {
        .service-card__overlay {
            opacity: 1;
        }
        
        .service-card__image {
            opacity: 1;
        }

        .service-card__title {
            color: var(--text-color-light);
        }

        .service-card__logo-primary {
            opacity: 0;
        }

        .service-card__logo-secondary {
            opacity: 1;
        }
    }

    &__overlay {
        opacity: 0;
        @include mixins.animate(opacity);
    }

    &__image {
        @include mixins.absoluteCover();
        opacity: 0;
        @include mixins.animate(opacity);

        img {
            @include mixins.coverImage();
        }
    }

    &__logo-wrapper {
        position: relative;
        margin-bottom: 20px;
    }

    &__logo {
        @include mixins.animate(opacity);
    }

    &__logo-secondary {
        @include mixins.centeredAbsolute();
        opacity: 0;
    }

    &__body {
        @include mixins.absoluteCover();
        @include mixins.flexCentered();
        z-index: 3;
        padding: spacing.$m;
    }

    &__title {
        @include mixins.animate(color);
    }

    &__link {
        @include mixins.absoluteCover();
        z-index: 4;
    }
}