$white: #ffffff;
$grey: #424551;
$grey-extra-light: #F4F5F7;
$grey-light: #787A80;
$grey-dark: #9A9CA5;
$black: #1E212C;
$orange: #FF5A30;


:root {
  --bg-page: #{$white};
  --bg-footer: #{$black};
  --text-title-color: #{$black};
  --text-color-primary: #{$grey};
  --text-color-secondary: #{$grey-light};
  --text-color-light: #{$white};
  --link-color: #{$orange};
  --primary-color: #{$orange};
}

