@use '../tools/responsive.scss';
@use '../settings/spacing.scss';
@use '../settings/font-weights.scss' as fw;
@use '../settings/font-sizes.scss' as fz;


$base-font-family:            'Ubuntu';
$base-font-heading:           'Ubuntu';

$heading-color:               var(--text-title-color) !default;
$heading-font-weight:         fw.$bold !default;
$heading-line-height:         fz.$h-lh !default;

$base-text-color:             var(--text-color-primary) !default;
$base-background-color:       var(--bg-page) !default;
$base-link-color:             var(--primary-color) !default;

$base-link-hover-color:       rgba(var(--link-color), 0.5) !default;

$font-size-base:              fz.$size-s !default;
$line-height-base:            fz.$t-lh-l !default;

$container-width:             1272px;
$container-width-middle:      760px;
$container-width-large:       1272px;
$padding-container:           0 spacing.$m;

$animation-speed:             0.3s;

$header-menu-breakpoint:      responsive.$wide;
$base-animation-breakpoint:   responsive.$wide;

$border-radius-sm:            4px;
$base-shadow:                 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
$base-shadow-invisible:                 0px 80px 80px -20px rgba(154, 156, 165, 0), 0px 30px 24px -10px rgba(154, 156, 165, 0), 0px 12px 10px -6px rgba(154, 156, 165, 0), 0px 4px 4px -4px rgba(30, 33, 44, 0);