.block-our-history {
  @apply relative overflow-hidden py-40 tablet:py-80 desktop:py-120;
  background-color: #f4f5f7;

  &__container {
    @apply relative z-1;
  }

  .block-heading {
    &__title {
      @apply mb-40 lg:mb-64;
    }
  }

  .carousel {
    &__wrapper {
      @apply mb-20 md:mb-0;
    }
  }

  .swiper-button-control {
    @apply flex justify-center md:absolute md:right-3 lg:top-8;

    .swiper-button {
      @apply static translate-x-0 translate-y-0 mx-10 bg-transparent hover:bg-primary hover:text-white;
    }
  }

  .history-list {
    @apply relative flex flex-wrap mb-30 md:block;

    &:before {
      @media (min-width: $tablet) {
        content: '';
        @apply absolute top-0 left-0 bottom-0 border-gray-500 border-1;
        left: 3px;
      }
    }

    .swiper-pagination-bullet {
      @apply relative z-1;
    }

    .swiper-pagination-bullet-active {
      .history-list__date {
        @apply text-primary;

        &:before {
          @apply bg-primary;
        }
      }
    }

    &__item {
      @apply cursor-pointer block w-auto h-auto bg-transparent opacity-100;

      &:not(:last-child) {
        @apply mr-30;

        @media (min-width: $tablet) {
          @apply mb-20 mr-0;
        }
      }
    }

    &__date {
      @apply relative cursor-pointer text-gray-500 text-xl lg:text-h4_lg pl-32;

      &:before {
        content: '';
        @apply absolute inset-y-1/2 left-0 -translate-y-1/2  bg-gray-500 z-10 rounded-full;
        width: 8px;
        height: 8px;
      }
    }
  }
}
