.block-projects-carousel {
  &__heading {
    width: 100%;

    @media (min-width: $tablet) {
      max-width: 574px;
    }

    @media (min-width: $tablet_lg) {
      max-width: 705px;
    }
  }

  .swiper-button-control {
    position: absolute;
    right: 0;
    height: 48px;

    @media (min-width: $tablet) {
      top: -66px;
      right: -14px;
    }

    @media (min-width: $tablet_lg) {
      top: -92px;
    }

    @apply flex items-center justify-end gap-4;
  }

  .swiper-button {
    @apply static hover:bg-primary hover:text-white  translate-x-0 translate-y-0;
  }
}
