@use '../settings/font-sizes.scss' as fz;
@use '../tools/responsive.scss';
@use '../settings/spacing.scss';
@use '../settings/colors.scss';

.block-hero {
    position: relative;
    display: flex;
    min-height: 500px;
    padding: calc(spacing.$xxl * 3) 0 calc(spacing.$xxxs + spacing.$xl);
    
    @include responsive.mq($from: tablet_large) {
        min-height: 600px;
    }

    &__container {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__content {
        max-width: 600px;
        width: 100%;
    }

    &__title {
        @include responsive.mq($from: tablet_large) {
            font-size: 72px;
        }
    }

    &__text {
        line-height: fz.$t-lh-l;
    }
}