@use '../tools/responsive.scss';

.block-latest-project {
    padding: 40px 0;
    
    .block-heading {
        &__title {
            width: 100%;
            margin-bottom: 26px;
            
            @include responsive.mq($from: tablet) {
                margin-right: 20px;
                max-width: 490px;
            }
            
            @include responsive.mq($from: tablet_large) {
                margin-bottom: 40px;
                max-width: 724px;
            }
        }
    }

    &__carousel {
        margin-bottom: 20px;

        @include responsive.mq($from: tablet) {
            margin-bottom: 60px;
        }
    }

    .swiper-button-control {
        display: flex;
        justify-content: center;
        
        @include responsive.mq($from: tablet) {
            position: absolute;
            top: -70px;
            right: 0;
            margin: 0 -10px;
        }

        .swiper-button {
            transform: none;
            position: static;
            margin: 0 10px;

            @include responsive.mq($from: tablet) {
            }
        }
    }

    .project-card {
        max-width: 100%;
    }
}