@use '../settings/spacing.scss';
@use '../tools/mixins.scss';
@use '../base/setup.scss';
@use '../tools/responsive.scss';

.block-services {
    padding: spacing.$xxl 0;
    
    @include responsive.mq($from: tablet) {
        padding: 116px 0;
    }

    .service-post {
        margin-bottom: 120px;
    }
}