@use '../tools/responsive.scss';
@use '../settings/spacing.scss';

.block-our-project {
    padding: spacing.$xl 0;
    
    @include responsive.mq($from: tablet_large) {
        padding: spacing.$xxxl 0;
    }
}

.block-our-projects {
    padding: spacing.$xl 0;
    
    @include responsive.mq($from: tablet_large) {
        padding: spacing.$xxxl 0;
    }

    .project-categories {
        top: -100px;
        margin-bottom: -20px;
    }
}

.our-projects-list {
    margin-bottom: 30px;

    .project-card {
        max-width: 100%;
    }
}