@use '../tools/responsive.scss';
@use '../settings/spacing.scss';

.block-project-description {
    padding: spacing.$xl 0;
    
    @include responsive.mq($from: tablet_large) {
        padding: spacing.$xxxl 0;
    }

    &__title {
        margin-bottom: 44px;
    }

    &__content {
        margin-bottom: 20px;
    }

    &__content-col {
        @include responsive.mq($from: tablet_large) {
            padding-top: spacing.$xxl;
        }
    }
    
    .project-description {
        max-width: 100%;

        @include responsive.mq($until: tablet) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}