@use '../tools/responsive.scss';

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.main {
    flex: 1;
}

.page-title {
    padding-top: 120px;

    .block-heading__title {
        @include responsive.mq($from: tablet_large) {
            font-size: 64px;
        }
    }
}