@use '../settings/colors.scss';
@use '../base/setup.scss';
@use '../settings/font-sizes.scss' as fz;
@use '../settings/spacing.scss';
@use '../tools/mixins.scss';

.form-field {
    margin-bottom: 20px;

    &--small {
        .form-field__label-text {
            font-size: fz.$size-xs;
            margin-bottom: 6px;
        }

        .form-field__select,
        .form-field__textarea, 
        .form-field__input {
            font-size: fz.$size-xs;
            padding: spacing.$xxs spacing.$s;
            height: 44px;
        }

        .form-field__textarea {
            height: auto;
        }
    }

    &__label {
        display: block;
    }

    &__label-text {
        margin-bottom: 10px;
    }
    
    &__select,
    &__textarea,
    &__input {
        border: 1px solid #D7DADD;
        background: colors.$grey-extra-light;
        border-radius: setup.$border-radius-sm;
        font-size: fz.$size-s;
        padding: spacing.$xxs spacing.$s;
        outline: none;
        height: 52px;
        width: 100%;
        

        &::placeholder {
            color: colors.$grey-dark;
          }
          
        &:-ms-input-placeholder {
            color: colors.$grey-dark;
        }
        
        &::-ms-input-placeholder {
            color: colors.$grey-dark;
        }
    }

    &__select {
        option {
            &:first{
                display: none;
            }
        }
    }
    
    &__textarea {
        padding: spacing.$s;
        max-width: 100%;
        height: auto;
    }
}

.form-field-checkbox {
    &__label {
        display: flex;
        cursor: pointer;
    }

    &__checkbox-marker {
        position: relative;
        border: 1px solid #D7DADD;
        border-radius: setup.$border-radius-sm;
        min-width: 16px;
        height: 16px;
        margin-right: 12px;
        margin-top: 2px;

        &:before {
            content: "\e904";
            font-family: 'icomoon' !important;
            @include mixins.centeredAbsolute();
            color: var(--text-color-light);
            font-size: 8px;
        }
    }
    
    &__checkbox {
        display: none;

        &:checked {
            + .form-field-checkbox__checkbox-marker {
                background-color: var(--primary-color);
                border-color: var(--primary-color);
            }
        }
    }
}


.form-field-radio {
    &__label {
        display: flex;
        cursor: pointer;
    }

    &__radio-marker {
        position: relative;
        border: 1px solid #D7DADD;
        border-radius: setup.$border-radius-sm;
        border-radius: 50%;
        overflow: hidden;
        min-width: 16px;
        height: 16px;
        margin-right: 12px;
        margin-top: 2px;

        &:before {
            content: '';
            @include mixins.centeredAbsolute();
            background-color: var(--primary-color);
            font-size: 8px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
        }
    }
    
    &__radio {
        display: none;

        &:checked {
            + .form-field-radio__radio-marker {
                border-color: var(--primary-color);
                
                &::before {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}