@use '../settings/colors.scss';

.bg-color-white {
  background-color: colors.$white;
}
.bg-color-black {
  background-color: colors.$black;
}

.bg-color-grey-extra-light {
  background-color: colors.$grey-extra-light;
}