@use '../tools/mixins.scss';
@use '../settings/colors.scss';
@use '../base/setup.scss';

.overlay {
    @include mixins.absoluteCover();
    background-color: rgba(colors.$black, 0.4);
    z-index: 1;
    
    &--light {
        background-color: rgba(colors.$black, 0.6);
    }
}

.shadow-wrapper {
    box-shadow: setup.$base-shadow;
    border-radius: setup.$border-radius-sm;
    overflow: hidden;
}