@use '../settings/font-sizes.scss' as fz;

.text-lg {
    font-size: fz.$size-l;
}

.text-md {
    font-size: fz.$size-m;
}

.text-sm {
    font-size: fz.$size-s;
}

.text-xs {
    font-size: fz.$size-xs;
}