@use '../settings/font-sizes.scss' as fz;
@use '../tools/responsive.scss';

.text-lg {
    @include responsive.mq($from: tablet) {
        font-size: fz.$size-l;
    }
}

.text-md {
    @include responsive.mq($from: tablet) {
        font-size: fz.$size-m;
    }
}

.text-sm {
    font-size: fz.$size-s;
}

.text-xs {
    font-size: fz.$size-xs;
}