@use '../settings/colors';

.text-color-light {
	color: var(--text-color-light);
}
.text-title-color {
	color: var(--text-title-color);
}
.text-color-primary {
	color: var(--text-color-primary);
}
.text-color-secondary {
	color: var(--text-color-secondary);
}
.color-primary {
	color: var(--primary-color);
}